<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Daily UX Challenge #15: Camera</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="flexcontainer noselect">
  <div id="camera">
    <div id="camtop"></div>
    <div id="button"></div>
    <div id="warning"></div>
    <div id="flash">
      <div id="flash-circle">
        <div id="flash-big"><div id="flash-huge"></div></div>
      </div>
    </div>
    <div id="lens-holder">
      <div id="lens">
      </div>
    </div>
  </div>
</body>
<script src="main.js"></script>
