html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

h2 {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  opacity: 0.8;
  bottom: 0px;
  display: none;
}

body {
  background-color: #b6ccef;
  overflow: hidden;
  z-index: 0;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.material-icons.md-big {
	font-size: 25px;
	line-height: 30px;
	vertical-align: middle;
	color: inherit;
	opacity: 1.0;
	text-align: center;
}

#camera {
  width: 500px;
  height: 225px;
  background-color: #222;
  position: relative;
  border-radius: 20px 0px 20px 20px;
}

#camtop {
  background: #222;
  width: 400px;
  height: 50px;
  top: -50px;
  right: 0px;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
}

#button {
  background: silver;
  width: 80px;
  height: 30px;
  top: -30px;
  left: 20px;
  position: absolute;
  border-radius: 20px 0px 0px 0px;
  cursor: pointer;
}

#lens-holder {
  background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 150px;
  top: 0px;
  box-sizing: border-box;
  border: 15px solid black;
  z-index: 0;
}

#flash {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  width: 100px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: -25px;
  z-index: 1;
}

#warning {
  background: black;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 150px;
  top: -25px;
  border-radius: 50%;
  transition: all 0.05s;
}

#flash-circle {
  background: white;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 80px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.2s;
}

#flash-big {
  background: white;
  opacity: inherit;
  position: absolute;
  top: -175px;
  left: -350px;
  width: 800px;
  height: 400px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

#flash-huge {
  background: white;
  opacity: inherit;
  position: absolute;
  width: 1600px;
  height: 800px;
  top: -150px;
  left: -400px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}
